<div class="flex justify-between m-auto p-2">
  <!-- LEFT -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <p>{{message$ | async}}</p>
    <button class="rounded bg-yellow-400 p-2 hover:bg-yellow-200 md:m-2" (click)="spanishMessage()">Spanish</button>
    <button class="rounded bg-blue-400 p-2 hover:bg-blue-200 md:m-2" (click)="frenchMessage()">French</button>
  </div>

  <!-- RIGHT -->
  <div class="md:w-1/2 mb-10 md:mb-0" *ngIf="post$ | async as p">
    <h2>{{p.text}}</h2>
    <h4>Votes: {{p.likes}}</h4>

    <button class="rounded bg-yellow-400 p-2 hover:bg-yellow-200 md:m-2" (click)="upVote()">Upvote</button>
    <button class="rounded bg-blue-400 p-2 hover:bg-blue-200 md:m-2" (click)="downVote()">Downvote</button>
    <button class="rounded bg-yellow-400 p-2 hover:bg-yellow-200 md:m-2" (click)="resetPost()">Reset</button>

    <input [(ngModel)]="text">
    <button class="rounded bg-yellow-400 p-2 hover:bg-yellow-200 md:m-2" (click)="editText()">Change Title</button>
  </div>
</div>
